/* h1 {
  color: green;
  font-style: italic;
} */

.note {
  padding-top: 3px;
  font-size: 15px;
  font-weight: bold;
}

.error {
  color: red;
  background: rgb(241, 239, 239);
  font-size: 20px;
  border-style: solid;
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 10px;
}

.addPersonNoti{
  font-size: 20px;
  background: rgb(179, 179, 179);
  color: green;
  border-style: solid;
  border-radius: 5px;
  margin-bottom: 10px;
  padding: 10px;
}