.app-Title{
  color: rgb(98, 173, 174);
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  margin-bottom: 0px;
}

.app-SubTitle {
  margin-top: 5px;
  color: rgb(98, 173, 174);
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: medium;
}

.error{
  border-style: solid;
  border-color: red;
  background-color: rgba(222, 113, 113, 0.175);
  font-family: Verdana, Geneva, Tahoma, sans-serif ;
  font-size: 12px;
  display: inline-block;
  padding: 5px;
}

.add-Noti{
  border-style: solid;
  border-color: rgba(2, 182, 44, 0.907);
  background-color: rgba(106, 108, 96, 0.263);
  border-radius: 7px;
  font-family: Arial, Helvetica, sans-serif ;
  font-size: 15px;
  display: inline-block;
  padding: 5px;
  margin-bottom: 5px;
}

.input-Div{
  border-style: none;
  margin-top: 5px;
}
.url-Input {
  margin-left: 12px;
}

.title-Input{
  margin-left: 15px;
}

.password-Input{
  margin-top: 5px;
  margin-left: 3.5px;
}

.login-Div{
  margin-top: 15px;
}
.form-Submit-Button{
  margin-bottom: 5px;
}

.form-Submit-Button, .login-Button{
  border-radius: 3px;
  border-width: 1px;
  margin-top: 10px;
  margin-left: 5px;
  padding: 5px 15px 5px 15px;
}
.logout-Button{
  padding: 2px 10px;
  border-style: solid;
  border-width: 1px;
  border-radius: 5px;
  margin-bottom: 10px;
}

.remove-BlogButton{
  font-size: 12px;
  border-radius: 5px;
  border-width: 1.5px;
  border-color: red;
  margin-bottom: 8px;

  cursor:pointer;
}

.logout-Button:hover{
  cursor: pointer;
  background-color: rgba(239, 46, 46, 0.732);
  color: white;
  transition: 0.25s;
  box-shadow: 0px 3px 5px rgba(128, 128, 128, 0.272);
}

.logout-Button:active{
  box-shadow: none;
  background-color: rgba(251, 158, 127, 0.266);
}


.form-Submit-Button:hover, .login-Button:hover{
  cursor: pointer;
  background-color: rgb(139, 169, 196);
  transition: 0.25s;
  box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.229);
}

.form-Submit-Button:active, .login-Button:active{
  box-shadow: none;
  background-color: rgb(186, 186, 186);
}

.blog-Span {
  font-weight: 600;
  color: rgb(64, 147, 155);
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.blog-P {
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-weight: 200;
}

.votes-Span {
  margin-right: 8px;
  font-weight: bold;
}

.votes-Button {
  padding: 3px 5px 3px 5px;
  border-radius: 3px;
  border-width: 1px;
  margin-right: 5px;
}

.votes-Button:hover{
  cursor: pointer;
  box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.258);
  transition: 0.25s;
}

.votes-Button:active{
  box-shadow: none;
}